html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background-image: url(Images/Background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: white;
}

/*Navigation Bar*/
nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
  width: 100%;
  box-sizing: border-box;
}

.Logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin-left: 3%;
}

.Logo img {
  width: 50px;
  height: 50px;
}

ul {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  padding-right: 3%;
  padding-left: 0;
}

.Nav-Icon {
  width: 50px;
  height: 50px;
  margin: 0 10px;
  object-fit: cover;
}

/*Introduction*/
.hero {
  position: relative;
  min-height: 1170px;
  padding: 0;
  margin: 0;
  font-family: "Candara", sans-serif;
}

.Finger-Circle {
  position: absolute;
  width: 1160px;
  height: 1160px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url(Images/HouseOfSpiders.webp);
  background-size: cover;
  background-position: center;
  background-color: black;
  border: 2px solid red;
  border-radius: 50%;
}

.Finger-Orbit {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin: -25px 0 0 -25px;
}

.Finger-Text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  min-height: 400px;
  padding: 35px;

  border: 2px solid red;
  background-color: black;
  text-align: center;
  z-index: 2;
  box-sizing: border-box;
  border-radius: 20px;
}

.Finger-Text h1 {
  font-size: 40px;
}

.Finger-Text p {
  font-size: 24px;
}

.LearnMore {
  padding: 10px;
  border: 2px solid white;
  border-radius: 20px;
  background-color: aliceblue;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

.LearnMore:hover {
  color: red;

}

.Nursefathers-Images {
  width: 300px;
  height: 300px;
  object-fit: cover;
  position: absolute;
  border-radius: 10px;
}

.Thumb-Orbit {
  transform-origin: center;
  animation: thumb-move 10s linear infinite;
}

@keyframes thumb-move {
  from {
    transform: rotate(0deg) translateY(-475px);
  }

  to {
    transform: rotate(360deg) translateY(-475px);
  }
}

.Thumb-Orbit .Nursefathers-Images {
  animation: thumb-stay-upright 10s linear infinite;
}

@keyframes thumb-stay-upright {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.Index-Orbit {
  animation: index-move 10s linear infinite;
}

@keyframes index-move {
  from {
    transform: rotate(72deg) translateY(-475px);
  }

  to {
    transform: rotate(432deg) translateY(-475px);
  }
}

.Index-Orbit .Nursefathers-Images {
  animation: index-stay-upright 10s linear infinite;
}

@keyframes index-stay-upright {
  from {
    transform: rotate(-72deg);
  }

  to {
    transform: rotate(-432deg);
  }
}

.Middle-Orbit {
  animation: middle-move 10s linear infinite;
}

@keyframes middle-move {
  from {
    transform: rotate(144deg) translateY(-475px);
  }

  to {
    transform: rotate(504deg) translateY(-475px);
  }
}

.Middle-Orbit .Nursefathers-Images {
  animation: middle-stay-upright 10s linear infinite;
}

@keyframes middle-stay-upright {
  from {
    transform: rotate(-144deg);
  }

  to {
    transform: rotate(-504deg);
  }
}

.Ring-Orbit {
  animation: ring-move 10s linear infinite;
}

@keyframes ring-move {
  from {
    transform: rotate(216deg) translateY(-475px);
  }

  to {
    transform: rotate(576deg) translateY(-475px);
  }
}

.Ring-Orbit .Nursefathers-Images {
  animation: ring-stay-upright 10s linear infinite;
}

@keyframes ring-stay-upright {
  from {
    transform: rotate(-216deg);
  }

  to {
    transform: rotate(-576deg);
  }
}

.Pinky-Orbit {
  animation: pinky-move 10s linear infinite;
}

@keyframes pinky-move {
  from {
    transform: rotate(288deg) translateY(-475px);
  }

  to {
    transform: rotate(648deg) translateY(-475px);
  }
}

.Pinky-Orbit .Nursefathers-Images {
  animation: pinky-stay-upright 10s linear infinite;
}

@keyframes pinky-stay-upright {
  from {
    transform: rotate(-288deg);
  }

  to {
    transform: rotate(-648deg);
  }
}

/*TheFiveFingers*/
.TheFingers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 1200px;
}

.TheFingers h1 {
  font-size: 100px;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
  margin: 0;
}

.TheThumb,
.TheIndex,
.TheMiddle,
.TheRing,
.ThePinky {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90%;
  height: 300px;
  box-sizing: border-box;
  border: 2px solid white;
  padding: 40px;
  gap: 50px;
  border-radius: 20px;
}
.CharacterGroup {
  display: flex;
  align-items: flex-end;
  gap: 10px;
  height: 100%;
}
.Left {
  transform: scaleX(-1);
}
.TheThumb {
  background-image: url("Images/ThumbBanner.webp");
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
}

.FingerGifThumb {
  width: 150px;
  height: auto;
  object-fit: contain;
}
.FingerGifThumb.Valencina {
  width: 180px
}
.FingerGifThumb.Lucio {
  width: 165px;
}

.TheIndex {
  background-image: url("Images/IndexBanner.webp");
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
}
.FingerGifIndex {
 width: 80px;
 height: auto;
 object-fit: contain;
}
.FingerGifIndex.Left.Rien{
width: 70px;
}
.TheMiddle {
  background-image: url("Images/MiddleBanner.jpg");
  background-size: cover;
  background-position: center 33%;
  background-repeat: no-repeat;
}
.FingerGifMiddle {
  width: 140px;
  height: auto;
  object-fit: contain;
}
.FingerGifMiddle.Left.Werner{
  width: 100px;
}
.FingerGifMiddle.Kira{
  width: 100px;
}

.TheRing {
  background-image: url("Images/RingBanner.webp");
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
}
.FingerGifRing {
  width:100px;
 height: auto;
  object-fit: contain;
}
.FingerGifRing.Left.Callisto {
  width: 340px;
  margin-right: 200px;
}
.FingerGifRing.Left.Albina {
  width:120px;
}
.FingerGifRing.Rufo {
  width: 170px;
}
.FingerGifRing.YiSang {
  width: 170px;
  transform: translateY(45px) scaleX(-1);
}
.ThePinky {
  background-image: url("Images/PinkyBanner.png");
  background-size: cover;
  background-position: center 35%;
  background-repeat: no-repeat;
}

.TheFingers h2 {
  margin: 0;
  padding: 0;
  text-align: center;
  text-shadow: 5px 5px 10px black;
  font-size: 48px;
}
.TheRing h2 {
  position:absolute;
}
.FingerGifPinky {
  width:220px;
 height: auto;
  object-fit: contain;
}
.FingerGifPinky.Ren {
  width: 180px;
}